# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

Software/myCobot\345\233\272\344\273\266\347\203\247\345\275\225\345\231\250V1.3.zip
Software/myCobot\345\233\272\344\273\266\347\203\247\345\275\225\345\231\250V1.2.zip
Software/myCobot\345\233\272\344\273\266\347\203\247\345\275\225\345\231\250V1.0.zip
Software/myCobotmyCobot固件烧录器V1.0.zip
Software/myCobotmyCobot固件烧录器V1.2.zip
Software/myCobotmyCobot固件烧录器V1.3.zip
